<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                T/H
            </mat-panel-title>
            <mat-panel-description>
                {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h3>H:<label>{{H}}</label></h3>
        <h3>T:<label>{{T}}</label></h3>
        <mat-checkbox [(ngModel)]="custom_Bool">Use{{custom_Bool?  'Custom' : 'Default'}}</mat-checkbox>&nbsp;
        <input  type="number" id="SetDim" value="65" oninput="if(value>100)value=100;if(value.length>3)value=value.slice(0,3);if(value<0)value=0"[readonly]="!custom_Bool" [(ngModel)]="customHum_Num">
        <br>
        <mat-slider thumbLabel tickInterval="1" step="1" min="0"max="255"aria-label="units" [disabled]="!custom_Bool" [(ngModel)]="customDim_Num"></mat-slider>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                LED
            </mat-panel-title>
            <mat-panel-description>
                {{panelOpenState1 ? 'open' : 'closed'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-slide-toggle (click)="Light()" [(ngModel)]="isChecked">{{isChecked?  'on' : 'off'}}</mat-slide-toggle>
    </mat-expansion-panel>
</mat-accordion>